/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/cache/
!/tmp/cache/.keep
!/tmp/sockets/
!/tmp/sockets/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
.byebug_history
.env
.env.*
!.env.example
/.ruby-version
/public/uploads
